<mat-toolbar color="primary">
  <!-- <button mat-icon-button >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Maayra App</span>
  <span class="example-spacer"></span>
  <span>Arati Vaje</span>
  <button mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<!-- <app-profile [userName]="'AratiVaje'"></app-profile><br>
<mat-form-field>
  <mat-label>Enter your Name</mat-label>
  <input matInput>
 
</mat-form-field>
{{name}} -->

<router-outlet></router-outlet>